@import "tailwindcss";

@plugin '@tailwindcss/forms';

@theme {
  --font-sans: var(--font-poppins);
  --font-display: var(--font-poppins);

  --color-brand-primary: #2563eb; /* Tailwind blue-600 */
  --color-brand-secondary: #1e40af; /* Tailwind blue-800 */
  --color-brand-accent: #c2410c; /* Tailwind orange-700 */

  --color-bg-primary: #ffffff; /* white */
  --color-bg-secondary: #222222; /* soft black */
  --color-bg-muted: #f3f4f6; /* Tailwind grey-100 */

  --color-stroke-default: #e5e7eb; /* grey-200 */
}

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }
}

@layer base {
  body {
    @apply font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
  h1,
  h2 {
    @apply font-medium;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
}
